{
    "plugins": ["syntax-dynamic-import"],
    "presets": [
        "es2015",
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ]
    ]
}
