{
    "plugins": ["transform-runtime", "syntax-dynamic-import"],
    "presets": [
        "es2015",
        [
            "@babel/preset-env",
            {
                "modules": false
            }
        ],
        "react",
        "stage-2"
    ]
}
