.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.logo {
  float: left;
  width: 120px;
  color:#fff;
  line-height: 32px;
  text-align:center;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
